#app {
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
}

.white-piece {
  color: white;
  text-shadow: 1px 1px gray;
}

.black-piece {
  color: black;
}

.light-square,
.dark-square {
  text-align: center;
  vertical-align: middle;
}

.light-square {
  background-color: rgb(240, 217, 181);
}

.dark-square {
  background-color: rgb(181, 136, 99);
}

img {
  margin-top: 20px;
}
