#app {
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
}

.white-piece {
  color: white;
  text-shadow: 1px 1px gray;
}

.black-piece {
  color: black;
}

.light-square,
.dark-square {
  text-align: center;
  vertical-align: middle;
}

.light-square {
  background-color: rgb(240, 217, 181);
}

.dark-square {
  background-color: rgb(181, 136, 99);
}

.available-move {
  content: "";
  position: absolute;
  margin-left: 36px;
  margin-top: 35px;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  z-index: 5;
}
img {
  margin-top: 15px;
}
